.bold_text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.app__aboout_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin-top: 100px;

  img {
    height: 400px;
    width: 300px;
    border-radius: 8px;
    margin-right: 50px;
  }

  h2 {
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;

    b {
      font-size: 1.4rem;
      font-weight: bold;
      margin-left: 1.2rem;
    }

    a {
      cursor: pointer;
      color: var(--secondary-color);
    }
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    width: 85%;

    img {
      display: none;
    }

    h2 {
      font-size: 0.8rem;
      line-height: 1.5rem;

      b {
        font-size: 1.2rem;
      }
    }
  }
}

.head__wraper {
  width: 78%;
  margin-top: 3rem;

  h2 {
    line-height: 1.5rem;
  }

  @media screen and (max-width: 900px) {
    margin-top: 1.5rem;
  }
}

.app_whitebg {
  background-color: var(--background-secondary);
}

.app__profiles {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 2rem;
}

.app__profile_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1;
  margin: 0px 10px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
  }

  @media screen and (max-width: 900px) {
    p {
      font-size: 0.7rem;
    }
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
