.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__footer__ptext {
  width: 50%;
  p {
    font-size: 0.9rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
    text-align: center;

    @media screen and (max-width: 540px) {
      margin-top: 1.2rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1rem;
      margin-top: 1.5rem;
    }
  }

  @media screen and (max-width: 940px) {
    width: 95%;
  }
}

.app__footer_cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4em 2rem 2rem;

  .app__footer_card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }

    p {
      font-weight: 500;
    }
    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    @media screen and (max-width: 450px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.app__footer_cards .app__footer_card:last-child {
  background-color: #fff;
}

.app__footer_cards .app__footer_card:last-child:hover {
  box-shadow: 0 0 25px #f2f7fb;
}

.app__footer_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;

  p {
    font-size: 0.8rem;
    color: var(--gray-color);
    line-height: 1.5;
    text-align: center;
  }

  .footer__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 1rem;
    width: 100%;

    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--white-color);
      margin: 0.25rem 0;
      border: 1px solid var(--lightGray-color);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;

      svg {
        width: 15px;
        height: 15px;
        color: var(--white-color);
      }

      &:nth-child(1) {
        background-color: #1da1f2;
        border-color: #1da1f2;
      }

      &:nth-child(2) {
        background-color: #3b5998;
        border-color: #3b5998;
      }

      &:nth-child(3) {
        background-color: #0e76a8;
        border-color: #0e76a8;
      }

      &:nth-child(4) {
        background-color: #e1306c;
        border-color: #e1306c;
      }

      &:nth-child(5) {
        background-color: #333;
        border-color: #333;
      }

      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
        margin: 0.5rem 0;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
